{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    {% block titulo %}
    <title>Modelo</title>
    {% endblock  %}
    
</head>

<body>

    {% block menu %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Django</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Preços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>






    {% endblock %}

    {% block destaque %}
    <div class="bg-secondary">
      FIGURAS
    </div>
    {% endblock  %}

   
    <div class="container">
     {% block conteudo %}
        <h1>Bootstrap 4 </h1>
        <p>Conteúdo do site </p>
     {% endblock conteudo %}
    </div>
    


    <div class="bg-light">
      Rodapé
    </div>


   


    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/pooper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

   
</body>
</html>